{% extends "base.html" %}

{% load bootstrap4 %}
{% block content %}
 
 
<div class="container">
    <div class="row justify-content-center login-form">
        <div class="col-4 bg-light p-3 ">
        <h3>Login</h3>
            <div>
                <form class="" method="POST" action="{% url 'login' %}">{% csrf_token %}
                    {% bootstrap_form form %}
                    <button id="login" class="btn btn-info btn-block" width="100" type="submit" name="Login">login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
    <div class="row row justify-content-center mt-3">
        <div class="col-2"><button id="adminUser" class="btn btn-primary btn-block" width="100" type="button" name="adminUser">as admin_user</button></div>
        <div class="col-2"><button id="generalUser" class="btn btn-success btn-block" width="100" type="button" name="generalUser">as general_user</button></div>
    </div>
</div>

{% endblock %}