body {
    background: #CCFFFF;
}

.menubtn {
    height: 50px;
    font-size: large;
}

.box {
    width: 1200px;
}

.text1 {
    font-weight: bold;
    font-size: large;
    padding: 10px 5px;
}

input {
    border-radius: 5px;
}


ul {
    padding: 0;
    margin: 0 auto;
}

.check-box {
    width: 20px;
    height: 20px;
    margin: 5px 5px;
}

#pic{
    margin: 5px 5px;
}

.delete-check-box {
    padding: 12px 2px !important;
}


ul li{ 	
    display: inline;
 } 

.entry-form{
    width: 100%;
}
.entry-contaniner{
    padding: 0 100px !important;
}


.noinput {
    background-color: #EEEEEE;
}

.login-form {
    margin-top:200px;
}


.modal-custom {
    max-width: 1000px;
    margin: 1.75rem auto;
}
.col.bottom-btn {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.changed {
    color: red;
}

#lineAdd {
    display: none;
}
#lineDelete {
    display: none;
}

#orderContentForm {
    width: 100%;
}