{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="ml-2 mt-3 mb-3">
        <h2>Customer Information</h2>
    </div>
    
    <div class="row">
        <div class="col">
            <table id="" class="table table-sm bg-light table-bordered table-striped">
                <tr>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Adderss</th>
                    <th>Phone</th>
                    <th>Date created</th>
                    <th colspan="2" width="10%"></th>
                </tr>
                
                {% for customer in object_list %}
                <tr>
                    <td>{{ customer.customer_code }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.date_created }}</td>
                    <td><a href="{% url 'customer_update' customer.pk %}" class="btn-sm btn-success btn-block">Update</a></td>
                    <td><a href="{% url 'customer_delete' customer.pk %}" class="btn-sm btn-danger btn-block">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>






{% endblock %}