{% extends "base.html" %}

{% block content %}

<div class="container" >
    <div class="ml-2 mt-3 mb-3"><h2>Main Menu</h2></div>
    <div class="row pt-5">
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="{% url 'order_entry' %}" >Order Entry</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="{% url 'shipment_entry' %}" >Shipment Entry</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >Acceptance Entry</a></div>  
    </div>

    <div class="row pt-5">
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >Shipment Information</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >Receiving Information</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >Inventory</a></div>  
    </div>

    <div class="row pt-5">
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="{% url 'order_info' %}" >Order Information</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >NA</a></div>
        <div class="col-4"><a class="btn btn-info btn-lg btn-block menubtn" href="" >NA</a></div>  
    </div>    

</div>
{% endblock %}