{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="ml-2 mt-3 mb-3"><h2>Order Entry</h2></div>
        <div class="row mb-2 bg-light" >
            <form id="createOrderNumber" method="post"> {% csrf_token %}
                <ul>
                    <li>
                        <label class='text1'>Order No：</label><input id="orderNumber" type="text" name="orderNumber" placeholder="Order No" maxlength="8" >
                    </li>
                    <li>
                        <label class='text1'>Supplier Delivery date：</label><input class="" type="text" name="suppDelDate" placeholder="yyyy-mm-dd">
                    </li>    
                    <li>
                        <label class='text1'>Customer Delivery date：</label><input class="" type="text" name="custDelDate" placeholder="yyyy-mm-dd">
                    </li>
                    <button id="enter1" type="button" class="btn btn-primary float-right mt-2 mr-4">Enter</button>
                </ul>
            </form>
        </div>

        <div class="row" >
                <table class="table table-bordered bg-light"  width="100">
                    <tr class="text-center">
                        <th>Item Code</th>
                        <th>Parts Name</th>
                        <th>Parts Number</th>
                        <th>S/P</th>
                        <th>B/P</th>
                        <th>QTY</th>
                    </tr>

                    <form id="orderContentForm" action="" method="POST"> {% csrf_token %}
                        <tr>
                            <td><input id="item1" type="text" name="item" maxlength="5"></td>
                            <td><input id="pName1" class="noinput" type="text"></td>
                            <td><input id="pNo1" class="noinput" type="text"></td>
                            <td><input id="sp1" class="noinput" type="text"></td>
                            <td><input id="bp1" class="noinput" type="text"></td>
                            <td><input id="qty1"  type="text" name="qty1" ></th>
                        </tr>
                            
                        <tr>
                            <td><input id="item2" type="text" name="item"maxlength="5"></td>
                            <td><input id="pName2" class="noinput" type="text"></td>
                            <td><input id="pNo2" class="noinput" type="text"></td>
                            <td><input id="sp2" class="noinput" type="text"></td>
                            <td><input id="bp2" class="noinput" type="text"></td>
                            <td><input id="qty2" type="text" name="qty2"></th>
                        </tr>
                                
                        <tr>
                            <td><input id="item3"  type="text" name="item" maxlength="5"></td>
                            <td><input id="pName3" class="noinput" type="text"></td>
                            <td><input id="pNo3" class="noinput" type="text"></td>
                            <td><input id="sp3" class="noinput" type="text"></td>
                            <td><input id="bp3" class="noinput" type="text"></td>
                            <td><input id="qty3" type="text" name="qty3"></th>
                        </tr>
                        <tr>
                            <td><input id="item4"  type="text" name="item" maxlength="5"></td>
                            <td><input id="pName4" class="noinput" type="text"></td>
                            <td><input id="pNo4" class="noinput" type="text"></td>
                            <td><input id="sp4" class="noinput" type="text"></td>
                            <td><input id="bp4" class="noinput" type="text"></td>
                            <td><input id="qty4" type="text" name="qty4"></th>
                        </tr>
                        <tr>
                            <td><input id="item5"  type="text" name="item" maxlength="5"></td>
                            <td><input id="pName5" class="noinput" type="text"></td>
                            <td><input id="pNo5" class="noinput" type="text"></td>
                            <td><input id="sp5" class="noinput" type="text"></td>
                            <td><input id="bp5" class="noinput" type="text"></td>
                            <td><input id="qty5" type="text" name="qty5"></th>
                        </tr>





                    </form>
                </table>
         </div>
    </div>
        
                        

{% endblock %}



<div class="container">
<div class="ml-3 mt-3 mb-3"><h2>Order Entry</h2></div>
    <div class="row mb-2 bg-light">
        <form action="." method="post">
        {% csrf_token %}


        <table>
            <div class="ml-2 mt-2 mb-2">Order No: {{ form.order_number}}</div>
        </table>
    </div>

    <div class="row mb-2 bg-light">
        {% for formset in inlines %}

        <table class="table table-sm ">
            {{ formset.management_form }}
            {% for form in formset %}
            <!-- ヘッダ出力 -->
            {% ifequal forloop.counter0 0 %}
                {% for field in form %}
                <td class="bg-light">
                {% if field.field.widget.is_hidden %}
                {% else %}
                    {{ field.label_tag }}
                {% endif %}
                </td>
                {% endfor %}
            {% endifequal %}
            <tr>
                {% for field in form %}
                <td class="pt-2 pb-2">
                {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="登録" />
</div>



