{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="ml-2 mt-3 mb-3">
        <h2>Supplier Information</h2>
    </div>
    
    <div class="row">
        <div class="col">
            <table id="" class="table table-sm bg-light table-bordered table-striped">
                <tr>
                    <th>Supplier Code</th>
                    <th>Supplier Name</th>
                    <th>Adderss</th>
                    <th>Phone</th>
                    <th>Date created</th>
                    <th colspan="2" width="10%"></th>
                </tr>
                
                {% for supplier in object_list %}
                <tr>
                    <td>{{ supplier.supplier_code }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.date_created }}</td>
                    <td><a href="{% url 'supplier_update' supplier.pk %}" class="btn-sm btn-success btn-block">Update</a></td>
                    <td><a href="{% url 'supplier_delete' supplier.pk %}" class="btn-sm btn-danger btn-block">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
